<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>804482200677-uf6g0sc6pcea6r71ftgop44j25nu2trv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.804482200677-uf6g0sc6pcea6r71ftgop44j25nu2trv</string>
	<key>API_KEY</key>
	<string>AIzaSyBTZ37v6rITNSKMm6Fm9Z4fT2dnNYi0TsE</string>
	<key>GCM_SENDER_ID</key>
	<string>804482200677</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.finnmcsorley.HackPSU3</string>
	<key>PROJECT_ID</key>
	<string>hackpsu-3391d</string>
	<key>STORAGE_BUCKET</key>
	<string>hackpsu-3391d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:804482200677:ios:69674ee988c44b9f42c28c</string>
	<key>DATABASE_URL</key>
	<string>https://hackpsu-3391d.firebaseio.com</string>
</dict>
</plist>